WIKIJS_API_KEY=
WIKIJS_URL=http://localhost:3000
WIKIJS_API_URL=http://localhost:3000

# Register a development app at developers.eveonline.com with callback
# http://localhost:8000/sso/callback and the publicData scope.
AA_ESI_CLIENT_ID=
AA_ESI_CLIENT_SECRET=
AA_ESI_CONTACT_EMAIL=developer@example.invalid